<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title> Daad Exposed! by the otherstupidguy :) </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


    <link rel="stylesheet" href="http://nicolasbize.github.io/magicsuggest/bin/magicsuggest-1.3.1-min.css">


    <link rel="stylesheet" href="css/style.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


  </head>

  <body>

  <div class="bs-example">
    <h1> Search </h1>
    <div id="ms-tpl"></div>
    <br>
    <br>
    <br>
  </div>

    <div>

    <table class="table table-hover">
      <thead>
	<tr class="tabletitles">
	  <th>#daad.de id</th>
	  <th>Title</th>
	  <th>Regesteration Info</th>
	  <th>University</th>
	  <th>Target Group</th>
	</tr>
      </thead>
      <tbody>

	<% @programmes.each do |p| %>
	  <tr>
	    <td>
	      <%= p.daad_id %>
	    </td>

	    <td>
	      <%= p.prog_title %>
	    </td>


	    <td> 
	      <%= p.uni_reg %>
	    </td>

	    <td>
	    <img class="logo" src= <%= p.uni_logo %>   width="180"/>

	    <% if p.uni_poster == "" %>

	     <% else %>

	       <img class="poster" src= <%=   p.uni_poster %>   width="180" onerror="this.onerror=null;this.src='https://2.gravatar.com/avatar/34a2f4a26e4960ef836aae10ba266b9c?d=https%3A%2F%2Fidenticons.github.com%2F10c422c64fd57a8cf3c0c98adefafe4a.png&r=x&s=460';"  />
	      <% end %>

	    </td>
	    <td>
	      <%= p.overview %>
	    </td>
	  </tr>

	<% end %> 

      </tbody>
    </table>
  </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="http://nicolasbize.github.io/magicsuggest/bin/magicsuggest-1.3.1-min.js"></script>

    <script>
$('#ms-tpl').magicSuggest({
  dataType: "json",
  width: 990,
  selectionPosition: 'bottom',
  selectionStacked: true,
  highlight: false,
    data:  <%=  @search %>,
    renderer: function(v){
    return '<div>' +
        '<div style="float:left;"><img src="' + v.uni_logo + '"/></div>' +
        '<div style="padding-left: 85px;">' +
            '<div style="padding-top: 20px;font-style:bold;font-size:120%;color:#333">' + v.prog_title + '</div>' +
            '<div style="color: #999">' + v.overview + '</div>' +
            '</div>' +
        '</div><div style="clear:both;"></div>';
    }
});
      </script>


  </body>
</html>
